In [1]:
import pymongo
import pandas as pd
from pymongo import MongoClient

In [2]:
client = MongoClient('localhost', 27017)

In [3]:
db = client.launch_week_2

In [69]:
city = pd.read_csv('CITIES.csv')
course = pd.read_csv('COURSES.csv')
prof = pd.read_csv('PROFS.csv', encoding= 'unicode_escape')
school = pd.read_csv('SCHOOLS.csv')
student = pd.read_csv('STUDENTS.csv')

In [70]:
school

,school_id,name,size,year_founded,dean_chair,num_majors
0,SEAS,School of Engineering and Applied Science,3589,1901,Rodil,9
1,CAS,College of Arts and Sciences,7301,1872,Alvarado,152
2,LAW,Law School,832,1821,Yashtz,4
3,BUS,Darden School of Business,122,1971,Sialsd,3
4,COM,Mcintire School of Commerce,357,1923,Najir,11
5,NUR,School of Nursing,1201,1900,Mcdonnel,17
6,CPS,School of Continuing and Professional Studies,11,2001,Arrington,2
7,ARCH,School of Architecture,123,1989,Kim,5

In [9]:
collection = db.students

In [29]:
our_city = city[city['city_id'] == 3]

temp_city= our_city.iloc[0]
city_dict = {}
for b in range(len(temp_city)):
    city_dict[temp_city.index[b]] = temp_city[b]
print(city_dict)

# for k in range(len(city)):
#     temp_city = city.iloc[k]
#     print(temp_city)

{'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': '300,286'}

In [ ]:
#def makeDict(df, index):

In [71]:
for i in range(len(student)):
    temp_stud = student.iloc[i]
    student_dict = {}
    for j in range(len(temp_stud)):
        if temp_stud.index[j] == 'city_id':
            our_city = city[city['city_id'] == temp_stud[j]].iloc[0]
            city_dict = {}
            for b in range(len(our_city)):
                city_dict[our_city.index[b]] = our_city[b]
            student_dict[temp_stud.index[j]] = city_dict
        elif temp_stud.index[j] == 'course_id':
            our_course = course[course['course_id'] == temp_stud[j]].iloc[0]
            course_dict = {}
            for c in range(len(our_course)):
                course_dict[our_course.index[c]] = our_course[c]
            student_dict[temp_stud.index[j]] = course_dict
        elif temp_stud.index[j] == 'school_id':
            our_school = school[school['school_id'] == temp_stud[j]].iloc[0]
            school_dict = {}
            for d in range(len(our_school)):
                school_dict[our_school.index[d]] = our_school[d]
            student_dict[temp_stud.index[j]] = school_dict
        else:
            student_dict[temp_stud.index[j]] = temp_stud[j]
    print(student_dict)
    print("\n\n\n\n")

{'computing_id': 'csksnj', 'first_name': 'Courtney', 'last_name': 'Kennedy', 'dob': '10/22/2000', 'city_id': {'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': '300,286'}, 'course_id': {'course_id': 'SYS 2202', 'school_id': 'SEAS', 'dept': 'SYS ', 'credits': 3, 'prof_id': 7}, 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}}





{'computing_id': 'ztk2qv', 'first_name': 'Zachery', 'last_name': 'Key', 'dob': '6/20/2000', 'city_id': {'city_id': 4, 'zipcode': 24523, 'city': 'Bedford', 'state': 'Virginia', 'football': 'Liberty Minutemen', 'hockey': 'Bedford Beds', 'baseball': 'Bedford Bases', 'basketball': 'Bedford Baskets', 'pop_size': '6,562'}, 'course_id': {'course_id': 'ARCH 3200', 'school_id': 'ARCH', 'dept': 'ARCH ', 'credits': 3, 'prof_id': 11}, 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}}





{'computing_id': 'jms6vb', 'first_name': 'Jon Marco', 'last_name': 'Sanchez', 'dob': '4/20/1969', 'city_id': {'city_id': 2, 'zipcode': 24014, 'city': 'Roanoke', 'state': 'Virginia', 'football': 'Roanoke Steam', 'hockey': 'Roanoke Rail Yard Dawgs', 'baseball': 'Salem Red Sox', 'basketball': 'Roanoke Maroons', 'pop_size': '99,229'}, 'course_id': {'course_id': 'SYS 3034', 'school_id': 'SEAS', 'dept': 'SYS ', 'credits': 3, 'prof_id': 5}, 'school_id': {'school_id': 'CAS', 'name': 'College of Arts and Sciences ', 'size ': 7301, 'year_founded': 1872, 'dean_chair': 'Alvarado ', 'num_majors': 152}}





{'computing_id': 'ac9kf', 'first_name': 'Arwen', 'last_name': 'Chandler', 'dob': '3/12/2002', 'city_id': {'city_id': 1, 'zipcode': 22031, 'city': 'Fairfax', 'state': 'Virginia', 'football': 'Fairfax Rebels', 'hockey': 'Fairfax Narwhals', 'baseball': 'Burke Bulldogs', 'basketball': 'Fairfax Foxes', 'pop_size': '23,531'}, 'course_id': {'course_id': 'KINE 1010', 'school_id': 'NUR', 'dept': 'KINE', 'credits': 1, 'prof_id': 6}, 'school_id': {'school_id': 'CAS', 'name': 'College of Arts and Sciences ', 'size ': 7301, 'year_founded': 1872, 'dean_chair': 'Alvarado ', 'num_majors': 152}}





{'computing_id': 'tes2fl', 'first_name': 'Taylor', 'last_name': 'Swift', 'dob': '12/13/1989', 'city_id': {'city_id': 10, 'zipcode': 94016, 'city': 'San Francisco', 'state': 'California', 'football': 'San Francisco 49ers', 'hockey': 'San Francisco Seals', 'baseball': 'San Francisco Giants', 'basketball': 'Golden State Warriors', 'pop_size': '874,961'}, 'course_id': {'course_id': 'CS 2150', 'school_id': 'SEAS', 'dept': 'CS', 'credits': 3, 'prof_id': 2}, 'school_id': {'school_id': 'CAS', 'name': 'College of Arts and Sciences ', 'size ': 7301, 'year_founded': 1872, 'dean_chair': 'Alvarado ', 'num_majors': 152}}





{'computing_id': 'jfe9fu', 'first_name': 'Joe', 'last_name': 'Exotic', 'dob': '3/5/1963', 'city_id': {'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': '300,286'}, 'course_id': {'course_id': 'ENWR 1000', 'school_id': 'CAS', 'dept': 'ENWR', 'credits': 3, 'prof_id': 3}, 'school_id': {'school_id': 'COM', 'name': 'Mcintire School of Commerce ', 'size ': 357, 'year_founded': 1923, 'dean_chair': 'Najir', 'num_majors': 11}}





{'computing_id': 'ggf2re', 'first_name': 'Guy', 'last_name': 'Fieri', 'dob': '1/22/1968', 'city_id': {'city_id': 7, 'zipcode': 60007, 'city': 'Chicago', 'state': 'Illinois', 'football': 'Chicago Bears', 'hockey': 'Chicago Blackhawks', 'baseball': 'Chicago Cubs', 'basketball': 'Chicago Bulls', 'pop_size': '2,693,976'}, 'course_id': {'course_id': 'SYS 2202', 'school_id': 'SEAS', 'dept': 'SYS ', 'credits': 3, 'prof_id': 7}, 'school_id': {'school_id': 'COM', 'name': 'Mcintire School of Commerce ', 'size ': 357, 'year_founded': 1923, 'dean_chair': 'Najir', 'num_majors': 11}}





{'computing_id': 'jeb1cu', 'first_name': 'Justin', 'last_name': 'Bieber', 'dob': '3/1/1994', 'city_id': {'city_id': 13, 'zipcode': 19019, 'city': 'Philadelphia', 'state': 'Pennsylvania', 'football': 'Philadelphia Eagles', 'hockey': 'Philadelphia Flyers', 'baseball': 'Philadelphia Phillies', 'basketball': 'Philadelphia 76ers', 'pop_size': '1,526,006'}, 'course_id': {'course_id': 'SYS 2001', 'school_id': 'SEAS', 'dept': 'SYS', 'credits': 3, 'prof_id': 1}, 'school_id': {'school_id': 'NUR', 'name': 'School of Nursing ', 'size ': 1201, 'year_founded': 1900, 'dean_chair': 'Mcdonnel', 'num_majors': 17}}





{'computing_id': 'tej9ab', 'first_name': 'Thomas', 'last_name': 'Jefferson', 'dob': '4/13/1743', 'city_id': {'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': '300,286'}, 'course_id': {'course_id': 'CS 2150', 'school_id': 'SEAS', 'dept': 'CS', 'credits': 3, 'prof_id': 2}, 'school_id': {'school_id': 'LAW', 'name': 'Law School ', 'size ': 832, 'year_founded': 1821, 'dean_chair': 'Yashtz ', 'num_majors': 4}}