In [1]:
# Install packages 
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\users\zachery key\anaconda\lib\site-packages (1.3.20)
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
import pandas as pd
import numpy as np 
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

In [8]:
# Connect to database 
connection = pymysql.connect(
        host = '127.0.0.1',
        port =  3306,
        user = 'root',
        password = password,
        database = 'launch_live'
    )
cnx = create_engine('mysql+pymysql://root:'+password+'@localhost:3306/launch_live')

In [16]:
# Set up data 
people = ['Daniel Willson', 'Kaleigh Watson', 'Amanda Coombs', "Andy Page"]
role = ['VPP', 'LPD', 'COO', 'ED']
workplace = [1,1,1,1]
alma_mater = [2,2,2,2]
people = pd.DataFrame({'name':people, 'role':role, 'workplace_id':workplace, 'alma_mater_id':alma_mater})
people.head()

             name role  workplace_id  alma_mater_id
0  Daniel Willson  VPP             1              2
1  Kaleigh Watson  LPD             1              2
2   Amanda Coombs  COO             1              2
3       Andy Page   ED             1              2

In [12]:
schools = pd.DataFrame({'name':['UVA', 'VT'], 'type':['Public', 'Public'], 'id':[2, 1]})
schools.head()

  name    type  id
0  UVA  Public   2
1   VT  Public   1

In [13]:
companies = pd.DataFrame({'name':['Astraea', 'Forge'], 'location':['Charlottesville', 'Charlottesville'], 'id':[2, 1]})
companies.head()

      name         location  id
0  Astraea  Charlottesville   2
1    Forge  Charlottesville   1

In [21]:
# Place TABLE into SQL database 
people.to_sql(name='people',
              con=cnx,
              if_exists="append",
              index=True)

companies.to_sql(name='companies',
                con=cnx,
                if_exists="append",
                index=False)

schools.to_sql(name='schools',
              con=cnx,
              if_exists="append",
              index=False)

Our Project