In [1]:
# Install packages 
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\users\zachery key\anaconda\lib\site-packages (1.3.20)
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
import pandas as pd
import numpy as np 
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

In [8]:
# Connect to database 
connection = pymysql.connect(
        host = '127.0.0.1',
        port =  3306,
        user = 'root',
        password = password,
        database = 'launch_live'
    )
cnx = create_engine('mysql+pymysql://root:'+password+'@localhost:3306/launch_live')

In [16]:
# Set up data 
people = ['Daniel Willson', 'Kaleigh Watson', 'Amanda Coombs', "Andy Page"]
role = ['VPP', 'LPD', 'COO', 'ED']
workplace = [1,1,1,1]
alma_mater = [2,2,2,2]
people = pd.DataFrame({'name':people, 'role':role, 'workplace_id':workplace, 'alma_mater_id':alma_mater})
people.head()

             name role  workplace_id  alma_mater_id
0  Daniel Willson  VPP             1              2
1  Kaleigh Watson  LPD             1              2
2   Amanda Coombs  COO             1              2
3       Andy Page   ED             1              2

In [12]:
schools = pd.DataFrame({'name':['UVA', 'VT'], 'type':['Public', 'Public'], 'id':[2, 1]})
schools.head()

  name    type  id
0  UVA  Public   2
1   VT  Public   1

In [13]:
companies = pd.DataFrame({'name':['Astraea', 'Forge'], 'location':['Charlottesville', 'Charlottesville'], 'id':[2, 1]})
companies.head()

      name         location  id
0  Astraea  Charlottesville   2
1    Forge  Charlottesville   1

In [21]:
# Place TABLE into SQL database 
people.to_sql(name='people',
              con=cnx,
              if_exists="append",
              index=True)

companies.to_sql(name='companies',
                con=cnx,
                if_exists="append",
                index=False)

schools.to_sql(name='schools',
              con=cnx,
              if_exists="append",
              index=False)

Our Project

In [22]:
import pandas as pd
import numpy as np 
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

In [27]:
# Connect to database 
connection = pymysql.connect(
        host = '127.0.0.1',
        port =  3306,
        user = 'root',
        password = password,
        database = 'launch_week2'
    )
cnx = create_engine('mysql+pymysql://root:'+password+'@localhost:3306/launch_week2')

In [37]:
# Import all of the data 
courses_path = "C:/Users/Zachery Key/Desktop/Forge/DataBases/Launch_Databases/COURSES.csv"
school_path = "C:/Users/Zachery Key/Desktop/Forge/DataBases/Launch_Databases/SCHOOLS.csv"
prof_path = "C:/Users/Zachery Key/Desktop/Forge/DataBases/Launch_Databases/PROFS.csv"
city_path = "C:/Users/Zachery Key/Desktop/Forge/DataBases/Launch_Databases/CITIES.csv"
student_path = "C:/Users/Zachery Key/Desktop/Forge/DataBases/Launch_Databases/STUDENTS.csv"

# Import data 
COURSE = pd.read_csv(courses_path)
SCHOOL = pd.read_csv(school_path)
PROF = pd.read_csv(prof_path, encoding= 'unicode_escape')
CITY = pd.read_csv(city_path)
STUDENT = pd.read_csv(student_path)

In [38]:
CITY.columns

Index(['city_id', 'zipcode', 'city', 'state', 'football', 'hockey', 'baseball',
       'basketball', 'pop_size'],
      dtype='object')

In [42]:
# Place all TABLES into SQL database 
STUDENT.to_sql(name='STUDENT',
              con=cnx,
              if_exists="append",
              index=False)

CITY.to_sql(name='CITY',
            con=cnx,
            if_exists="append",
            index=False)

PROF.to_sql(name='PROF',
            con=cnx,
            if_exists="append",
            index=False)

COURSE.to_sql(name='COURSE',
              con=cnx,
              if_exists="append",
              index=False)

In [ ]:
#